/ Страница Вопроса, где можно создать Ответы

/ Переход в шаблон _question.html.erb - список вопросов для edit, delete
.question_box
  = render question

/ Переход в шаблон _answer.html.erb для редактирования Ответов
ul.question_answers
  = render question.answers

/ Переход на Страницу создания Ответов _new.html.erb
= render 'answers/new', answer: question.answers.new
